
<h1>Create New Article</h1>
<form action='/articles' method='post'>

  <label for=article_name>":title"</label>
  <input id='article_name' type="text" name="article[title]"><br>
  <label for=article_content>:content</label>
  <input id='article_content' type="text" name="article[content]">

<br><input id="submit" type="submit">
</form>
